@font-face {
  font-family: "Tuffy";
  src: url("../fonts/tuffy.ttf");
}

@font-face {
  font-family: "Noto Sans";
  font-weight: normal;
  src: url("../fonts/noto-sans.ttf");
}

@font-face {
  font-family: "Noto Sans";
  font-weight: bold;
  src: url("../fonts/noto-sans-bold.ttf");
}

h1 {
  color: #333;
  font-size: 2.5em;
  margin-left: 1em;
}

h2 {
  color: #222;
  margin-left: .5em;
}

html {
  background-color: #EEE;
  font-family: "Noto Sans";
}

.cell {
  background-color: #EEE;
  border: thin solid black;
  display: inline-block;
  padding: .2em .5em;
}

.document-wrapper {
  background-color: white;
  border: medium solid black;
  border-radius: 1em;
  padding-inline: 1em;
  margin-inline: auto;
  max-width: 1000px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  justify-content: center;
}
